@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Parkinsans&display=swap');

:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  font-family: "Outfit", sans-serif;
  padding: 0.6em 1.2em;
  background-color: #8f8f8f;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: rgb(104, 104, 104);
}

input {
  font-family: "Outfit", sans-serif;
  border-radius: 12px;
}

hr{
  width: 100%;
  padding: 0px;
}