.files-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
    overflow-y: hidden;
}

.file {
    background-color: rgb(92, 92, 92);
    border-radius: 12px;
}

h2{
    margin-bottom: 0px;
    padding-bottom: 0px;
}