.upload-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.file-upload-div {
    width: 70%;
    height: 80%;
    background-color: #2f3136;
    border: 2px dashed #4f545c;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
  }

  .file-upload-div:hover{
    cursor: pointer;
    background-color: rgb(61, 61, 61);
}
  
  
  .upload-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #cfcfcf; 
  }
  
  .upload-icon {
    font-size: 32px;
    color: #cfcfcf; 
  }
  
  
  .file-upload-div p {
    color: #b9bbbe;
    font-size: 14px;
  }




.metadata-form {
    width: 60%;
    height: 60%;
    background-color: #313131;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 5%;
    transition: background-color 0.2s ease;
}

.metadata-form:hover {
    background-color: rgb(61, 61, 61);
}

.metadata-form input {
    background-color: rgb(37, 37, 37);
    border: none;
    padding: 6px;
    margin-bottom: 15px;
    height: 25px;
    color: rgb(216, 216, 216);
}

.form-item {
    display: flex;
    flex-direction: column;
}

.selected-file-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    margin: 0px 0px 15px 0px;
    padding: 2px;
    background-color: rgb(37, 37, 37);
}

.selected-file-div p{
    padding: 3px;
    font-size: 1em;
    color: rgb(196, 196, 196);
    margin: 0px;
}

.selected-file-div button{
    margin: 0px;
    padding: 5px 14px;
    background-color: #424242;
    border: 1px solid rgb(110, 110, 110);
    color: rgb(209, 209, 209);
}


.buttons-div {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}