.upload-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.file-upload-div {
    width: 70%;
    height: 80%;
    background-color: #2f3136;
    border: 2px dashed #4f545c;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
  }

  .file-upload-div:hover{
    cursor: pointer;
    background-color: rgb(61, 61, 61);
}
  
  
  .upload-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #cfcfcf; 
  }
  
  .upload-icon {
    font-size: 32px;
    color: #cfcfcf; 
  }
  
  
  .file-upload-div p {
    color: #b9bbbe;
    font-size: 14px;
  }



.enter-file-data-title {
    margin: 0px;
}

.metadata-form {
    width: 60%;
    height: 55%;
    background-color: #313131;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 5%;
    transition: background-color 0.2s ease;
}

.metadata-form:hover {
    background-color: rgb(24, 24, 24)
}

.metadata-form input {
    background-color: rgb(37, 37, 37);
    border: none;
    padding: 6px;
    margin-bottom: 15px;
    font-size: 1em;
    height: 25px;
    color: rgb(216, 216, 216);
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item label {
    margin-left: 3px;
    color: #b9bbbe;
}

.selected-file-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    margin: 0px 0px 15px 0px;
    padding: 2px;
    background-color: rgb(37, 37, 37);
}

.selected-file-div p{
    padding: 3px;
    font-size: 1em;
    color: rgb(196, 196, 196);
    margin: 0px;
}

.buttons-div {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.buttons-div button {
    background-color: rgb(34, 34, 34);
    color: white;
    width: 48%;
    font-size: 1em;
    padding: 6px;
}

.server-file-div{
    margin-left: 3px;
}
.upload-checkbox-label {
    color: #ccc;
    font-family: "Outfit", sans-serif;
    display: flex;
    align-items: center;
  }

  .upload-checkbox-label .MuiFormControlLabel-label {
    font-family: 'Outfit', sans-serif !important;
  }
  
  
  .upload-checkbox {
    color: #888 !important; /* unchecked color */
  }
  
  .upload-checkbox.Mui-checked {
    color: #2f71ff !important; /* checked color */
  }


  .image-preview-div img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }